<div style="width: 100vw; height: 100vh;">

  <form [formGroup]="myForm" class="mx-auto mt-4" style="width: 300px;">

    <div>
      <label for="minInput" class="form-label">Minimum Input</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="minInput" formControlName="min">
        <span class="input-group-text material-icons">visibility</span>
        <div class="invalid-feedback">
          {{getErrorMessage('min')}}
        </div>
      </div>
    </div>

    <div>
      <label for="maxInput" class="form-label">Maximum Input</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="maxInput" formControlName="max">
        <div class="invalid-feedback">
          {{getErrorMessage('max')}}
        </div>
      </div>
    </div>

    <button class="btn btn-primary mt-3" type="submit">Submit</button>
  </form>

</div>
